In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data_sets/world_happiness_report.csv")

In [7]:
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [13]:
df.sort_values(by='year', ascending=False)

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
1230,1230,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1138,1138,Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1136,1136,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1135,1135,Mauritius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
1134,1134,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,105,Tajikistan,Central and Eastern Europe,106.0,4.786,0.03198,0.39047,0.85563,0.57379,0.47216,0.15072,0.22974,2.11399,2015
104,104,Honduras,Latin America and Caribbean,105.0,4.788,0.05648,0.59532,0.95348,0.69510,0.40148,0.06825,0.23027,1.84408,2015
103,103,Hungary,Central and Eastern Europe,104.0,4.800,0.06107,1.12094,1.20215,0.75905,0.32112,0.02758,0.12800,1.24074,2015
102,102,Lebanon,Middle East and Northern Africa,103.0,4.839,0.04337,1.02564,0.80001,0.83947,0.33916,0.04582,0.21854,1.57059,2015
0,0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015

In [12]:
df['year'].value_counts()

year
2015    158
2016    157
2018    156
2019    156
2017    155
2020    153
2021    149
2022    147
Name: count, dtype: int64

In [11]:
df['year'].describe()

count    1231.000000
mean     2018.450041
std         2.284034
min      2015.000000
25%      2016.000000
50%      2018.000000
75%      2020.000000
max      2022.000000
Name: year, dtype: float64